@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>

<address>
    <p>Разработано компанией A2 Group - Гончаров Андрей и Вишняков Андрей</p>

    Гончаров Андрей, группа 181-321<br />
    Вишняков Андрей, группа 181-321<br />
    <br />
    <abbr title="Телефон">тел:</abbr>
    89154447788
</address>