@{
    ViewBag.Title = "Polichat";
}

<div class="jumbotron">
    <h1>Polichat</h1>
    <p><b>Глобальный чат</b></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Войдите или зарегистрируйтесь, чтобы написать сообщение</h2>
        <p><a class="btn btn-success" href="/Home/Login">Войти</a></p>
        <br />
        <p><a class="btn btn-primary" href="/Home/Register">Зарегистрироваться</a></p>
    </div>
</div>